@tailwind base;
@tailwind components;

/* =================== Font Import Start ======================== */

@font-face {
	font-family: "Arial Rounded MT Bold";
	src: url("./assets/fonts/arial-rounded/arial-rounded-mt-bold.ttf")
		format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("./assets/fonts/open-sans/OpenSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("./assets/fonts/open-sans/OpenSans-Medium.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("./assets/fonts/open-sans/OpenSans-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("./assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("./assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@tailwind utilities;

@layer base {
	body {
		@apply bg-black text-dark-foreground-500 cursor-default font-openSans overflow-x-hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-arialRounded;
	}

	p {
		@apply font-openSans;
	}
	input[type="date"]::-webkit-calendar-picker-indicator {
		display: none;
		/* Or customize it further, e.g.: */
		/* background-image: url('/path/to/custom-icon.svg'); */
		/* background-size: contain; */
		/* background-repeat: no-repeat; */
		/* opacity: 0.5; */
	}
}
